/* TESTED STYLING ON TEST HTML - WILL BE USED WHEN FINISHED */

html, body {
    background-color: #475991;
    background-image: linear-gradient(74deg, #475991 0%, #801880 100%);
    height: 100%;
    margin: 0;
}

.hero {
    background-color: #e3e4ff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0px 0px 20px 20px;
    border: black solid 3px;
}

.container {
    padding: 15px;
    background-color:  #e3e4ff;
    border-radius: 7px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25)
     0px 54px 55px, rgba(0, 0, 0, 0.12)
      0px -12px 30px, rgba(0, 0, 0, 0.12)
       0px 4px 6px, rgba(0, 0, 0, 0.17)
        0px 12px 13px, rgba(0, 0, 0, 0.09)
         0px -3px 5px;
}

.title {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.media {
    border: black solid 2px;
    border-radius: 7px;
    background-color: #e3e4ff;;
}

.infoUl {
    border: black solid 2px;
    border-radius: 7px;
    background-color: #e3e4ff;;
    color: black;
    font-weight: bolder;
    margin-left: 0px;
}

.media-content {
    margin-left: -32px
}

#li1, #li2, #li3 {
    list-style: none;
}

#mnimg {
    border: black solid 2px;
    border-radius: 7px;
}


#cardcolumns {
    margin-top: 50px;
    justify-content: space-evenly;
}

.footer {
    background-color: #475991;
    background-image: linear-gradient(74deg, #475991 0%, #801880 100%);
    color: black;
}